.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(33, 34, 51, 0.9) !important;
}

.btn-primary {
    margin-top: 25px;
    font-weight: 200;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-color: rgba(33, 37, 41, 1);
    background-color: rgb(27, 79, 131);
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    margin-top: 50px;
}

.forgot-password a :hover{
    cursor: pointer;
}

.form-group label {
    color: grey;
    font-weight: 200;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 15px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

img {
    vertical-align: middle;
    border-style: none;
}

label {
    color: ivory;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.row h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: -50px;
}

.row h5 {
    color: rgb(182, 178, 178);
    text-align: center;
    font-weight: lighter;
}

.user-register a {
    margin-left: 5px;
}

.user-register a :hover{
    cursor: pointer;
}

.user-register span {
    color: grey;
    line-height: 16px;
}