.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(33, 34, 51, 0.9) !important;
}

.btn-primary {
    margin-top: 25px;
    font-weight: 200;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-color: rgba(33, 37, 41, 1);
    background-color: rgb(27, 79, 131);
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    margin-top: -3rem;
}

.container {
    padding: 10px;
}

.form-group label {
    color: grey;
    font-weight: 200;
    text-transform: uppercase;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    color: aliceblue;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.span-required {
    color: hsl(359 calc( 1 * 87.3%) 59.8% / 1);
}