<div class="register-background">
    <div class="container" [ngStyle]="{ 'pointer-events': loading ? 'none' : 'auto' }">

        <!-- spinner -->
        @if (loading) {
            <app-spinner />
        }

        <div [attr.inert]="loading ? '' : null">
            <div class="row">
                <div class="col-md-7 col-lg-6 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-dark">
                        <h5>¡Completa el formulario para unirte a nuestra comunidad!</h5>
                        <div class="card-body">
                            <div class="container">
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="contact-form" role="form"
                                    [attr.aria-disabled]="loading ? 'true' : null">
                                    <div class="row">
                                        <div class="form-group">

                                            <!-- name -->
                                            <label for="form-name">Nombre
                                                <span class="span-required">*</span>
                                            </label>
                                            <input type="text" class="form-control" formControlName="name" id="form-name" name="name" placeholder="Ingresa tu nombre" required aria-required="true" maxlength="45">
                                            @if (name.invalid && (name.dirty || name.touched)) {
                                                <div class="alert alert-danger mt-2">
                                                    @if (name.hasError('required')) {
                                                        <span>Completa el campo con tu nombre</span>
                                                    }
                                                    @if (name.hasError('pattern')) {
                                                        <span>No es un nombre valido</span>
                                                    }
                                                </div>
                                            }

                                            <!-- surname -->
                                            <label for="form-surname">
                                                Apellido
                                                <span class="span-required">*</span>
                                            </label>
                                            <input type="text" class="form-control" formControlName="surname" id="form-surname" name="surname" placeholder="Ingresa tu apellido" required aria-required="true" maxlength="45">
                                            @if (surname.invalid && (surname.dirty || surname.touched)) {
                                                <div class="alert alert-danger mt-2">
                                                    @if (surname.hasError('required')) {
                                                        <span>Completa el campo con tu apellido</span>
                                                    }
                                                    @if (surname.hasError('pattern')) {
                                                        <span>No es un apellido valido</span>
                                                    }
                                            </div>
                                            }

                                            <!-- email -->
                                            <label for="form-email">
                                                Correo electronico
                                                <span class="span-required">*</span>
                                            </label>
                                            <input type="email" class="form-control" formControlName="email" id="form-email" name="email" placeholder="Ingresa tu correo electronico" required aria-required="true" maxlength="55" autocomplete="email">
                                            @if (email.invalid && (email.dirty || email.touched)) {
                                                <div class="alert alert-danger mt-2">
                                                    @if (email.hasError('required')) {
                                                        <span>Completa el campo con tu correo electronico</span>
                                                    }
                                                    @if (email.hasError('pattern')) {
                                                        <span>Correo electronico invalido</span>
                                                    }
                                                </div>
                                            }

                                            <!-- password -->
                                            <label for="form-password">
                                                Contraseña
                                                <span class="span-required">*</span>
                                            </label>
                                            <input type="password" class="form-control" formControlName="password" id="form-password" name="password" placeholder="Ingresa tu contraseña" required aria-required="true" maxlength="35">
                                            @if (password.invalid && (password.dirty || password.touched)) {
                                                <div class="alert alert-danger mt-2">
                                                    @if (password.hasError('required')) {
                                                        <span>Completa el campo con tu contraseña</span>
                                                    }
                                                    @if (password.hasError('minlength')) {
                                                        <span>La contraseña debe tener un minimo de {{ password.getError('minlength').requiredLength }} caracteres</span>
                                                    }
                                                </div>
                                            }

                                            <!-- repeat password -->
                                            <label for="form-repeat-password">
                                                Repetir Contraseña
                                                <span class="span-required">*</span>
                                            </label>
                                            <input type="password" class="form-control" formControlName="repeatPassword" id="form-repeat-password" name="repeat-password" placeholder="Ingresa tu contraseña" required aria-required="true"
                                                maxlength="35">
                                            @if (repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)) {
                                                <div class="alert alert-danger mt-2">
                                                    @if (repeatPassword.hasError('required')) {
                                                        <span>Completa el campo con tu contraseña</span>
                                                    }
                                                    @if (repeatPassword.hasError('noMatch')) {
                                                        <span>Las contraseñas no coinciden</span>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="d-grid gap-2">
                                            <input type="submit" class="btn btn-primary" value="Registrarse" [disabled]="registerForm.invalid || loading">
                                        </div>
                                    </div>

                                    <!-- link login -->
                                    <div class="user-login">
                                        <span>¿Ya tenes una cuenta?</span>
                                        <a routerLink="/login" routerLinkActive="active">
                                            <label for="user-login">Iniciar sesion</label>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>