<section class="ahorcado-container">
    <button class="btn btn-primary" (click)="backToHome()">Volver</button>
    <div class="container game-container">
        <div class="col">
            <img
                class="img-ahorcado"
                [src]="this.hangmanImages[this.failedAttemps]"
                alt="ahorcado - {{this.failedAttemps}}">
        </div>
        <p class="attempts">Intentos: {{this.attempts}}/{{this.maxAttempts}}</p>
        <div class="container-general row">
            <div class="col container-btn">
                <div class="row word-guess">
                    <div class="col-md-12 text-center">
                        <div class="d-inline">
                            @for (hyphen of hyphenatedWord; track $index) {
                                <h1 class="d-inline p-2">{{hyphen}}</h1>
                            }
                        </div>
                    </div>
                </div>
                <div class="keypad">
                    @for (letter of this.buttonLetters; track $index) {
                        <button
                            class="word-btn"
                            (click)="this.sendLetter(letter)"
                            [disabled]="this.isDisabledLetter(letter) || !this.activeGame"
                            [ngClass]="{
                                'disabled-button': this.isDisabledLetter(letter),
                                'correct-letter': this.letterStatus[letter] === 'correct',
                                'incorrect-letter': this.letterStatus[letter] === 'incorrect'
                            }"
                            >
                            {{letter}}
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (!this.activeGame) {
        <h3 class="selected-game-word">Palabra del juego: {{this.word}}</h3>
        <button class="btn-restart" (click)="this.restartGame()">{{this.restartButtonText}}</button>
    }
</section>