<app-navbar />

<div class="container my-4">
    <!-- search-form -->
    @if (!this.loading) {
        <div class="d-flex justify-content-between align-items-center mb-3">
            <form class="d-flex" role="search">
                <input name="search" [(ngModel)]="this.searchText" class="form-control me-2" type="search" placeholder="Filtrar..." aria-label="Search"/>
            </form>
        </div>
    }

    <!-- spinner -->
    @if (this.loading) {
        <app-spinner />
    }

    <!-- table -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Juego</th>
                    <th scope="col">Calificacion</th>
                    <th scope="col">Aspectos del juego</th>
                    <th scope="col">Comentarios</th>
                    <th scope="col">Creada el</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">

                @if (this.loading) {
                    <tr>
                        <td colspan="9" class="text-center">
                            Cargando datos de encuestas...
                        </td>
                    </tr>
                }
                @else {
                    @for (survey of this.surveyData | searchText: this.searchText | paginate: { itemsPerPage: 10, currentPage: page }; track survey.id) {
                        <tr>    
                            <td>{{ survey.name }}</td>
                            <td>{{ survey.surname }}</td>
                            <td>{{ survey.age }}</td>
                            <td>{{ survey.telephone }}</td>
                            <td>{{ survey.games.name }}</td>
                            <td>{{ survey.game_rating }}</td>
                            <td>{{ survey.game_aspects }}</td>
                            <td>{{ survey.comments }}</td>
                            <td>{{ survey.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                        </tr>
                    }
                    @empty {
                        @if (!surveyData.length && !this.searchText) {
                            <tr>
                                <td colspan="9" class="text-center">
                                    No hay estadísticas de encuestas para mostrar.
                                </td>
                            </tr>
                        }
                        @else if (this.surveyData.length > 0 && this.searchText) {
                            <tr>
                                <td colspan="9" class="text-center">
                                    No se encontraron resultados para "{{ this.searchText }}".
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- pagination -->
     @if (!this.loading && this.surveyData.length) {
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <pagination-controls class="pagination-styles" (pageChange)="this.page = $event"></pagination-controls>
            </ul>
        </nav>
     }
</div>
