<!-- Muestro el menu del navbar para usuarios logueados dependiendo el rol asignado -->
@if (this.authState !== this.UserRole.Guess) {
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-text">
                Hola, {{ this.user?.name + ' ' + this.user?.surname }}
            </span>
            @switch (this.authState) {
                @case (this.UserRole.Admin) {
                    <ul class="nav justify-content-center">
                        <li><a routerLink="/dashboard" class="nav-link px-2 text-white me-4">Dashboard Admin</a></li>
                        <li><a routerLink="/games" class="nav-link px-2 text-white me-4">Juegos</a></li>
                        <li><a routerLink="/about" class="nav-link px-2 text-white me-2">Quien soy</a></li>
                    </ul>
                }
                @case (this.UserRole.User) {
                    <ul class="nav justify-content-center">
                        <li><a routerLink="/home" class="nav-link px-2 text-white me-4">Inicio</a></li>
                        <li><a routerLink="/games" class="nav-link px-2 text-white me-4">Juegos</a></li>
                        <li><a routerLink="/about" class="nav-link px-2 text-white me-2">Quien soy</a></li>
                    </ul>
                }
                @default {
                    <ul class="nav justify-content-center flex-grow-1">
                        <li><a routerLink="/" class="nav-link px-3 text-white">Inicio</a></li>
                    </ul>
                }
            }
            <form class="d-flex" role="search">
                <div class="col-md-3 text-end" (click)="this.signOut()">
                    <svg width="25px" height="25px" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3 0C1.34375 0 0 1.34375 0 3V9C0 10.6562 1.34375 12 3 12H5.625C5.8125 12 6 11.8438 6 11.625V10.875C6 10.6875 5.8125 10.5 5.625 10.5H3C2.15625 10.5 1.5 9.84375 1.5 9V3C1.5 2.1875 2.15625 1.5 3 1.5H5.625C5.8125 1.5 6 1.34375 6 1.125V0.375C6 0.1875 5.8125 0 5.625 0H3ZM10.2188 0.625L9.59375 1.25C9.4375 1.375 9.4375 1.625 9.59375 1.78125L13.125 5.1875H5.375C5.15625 5.1875 5 5.375 5 5.5625V6.4375C5 6.65625 5.15625 6.8125 5.375 6.8125H13.125L9.59375 10.25C9.4375 10.4062 9.4375 10.6562 9.59375 10.7812L10.2188 11.4062C10.3438 11.5625 10.5938 11.5625 10.75 11.4062L15.875 6.28125C16.0312 6.125 16.0312 5.90625 15.875 5.75L10.75 0.625C10.5938 0.46875 10.3438 0.46875 10.2188 0.625Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </form>
        </div>
    </nav>
}
<!-- muestro el menu del navbar para invitados -->
@else {
    <div class="card">
        <header class="d-flex bg-dark flex-wrap align-items-center justify-content-center py-3 border-bottom">
            <div class="games-room-logo">
                <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none"></a>
                    <img src="assets/favicon.ico" alt="logo" width="32" height="32" class="me-2">
                <span class="games-room-name">Games Room</span>
            </div>
            <ul class="nav mx-auto">
                <li><a routerLink="/" class="nav-link px-2 text-white me-2">Inicio</a></li>
                <li><a routerLink="/" class="nav-link px-2 text-white me-2">Categorias</a></li>
                <li><a routerLink="/" class="nav-link px-2 text-white me-2">Populares</a></li>
                <li><a routerLink="/about" class="nav-link px-2 text-white me-2">Quien soy</a></li>
            </ul>
            <div class="btn-login-register">
                <button routerLink="/login" type="button" class="btn btn-warning">Iniciar sesión</button>
                <button routerLink="/register" type="button" class="btn btn-warning">Registrarse</button>
            </div>
        </header>
    </div>
}